<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.freecoding.servicesmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderActivity" />
        <activity android:name=".HousekeepingActivity" />
        <activity android:name=".NursingActivity" />
        <activity android:name=".MedicalActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SpaActivity" />
        <activity android:name=".ChastityActivity" />
        <activity android:name=".ScalingYaActivity" />
        <activity android:name=".Skin_Care_Activity" />
        <activity android:name=".MedicaladviceActivity" />
        <activity android:name=".MedicalInjectionActivity" />
        <activity android:name=".MedicalRegistrActivity" />
        <activity android:name=".MedicalAccomPanyActivity" />
        <activity android:name=".MedicalTreatmentActivity" />
        <activity android:name=".HomeNurseActivity" />
        <activity android:name=".HouseBaojActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserdetailActivity"/>
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>